.idea {
    button {
        color: #FFF;
        font-family: Manrope;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        /* 55.556% */
        height: 46px;
        border-radius: 30px;
        background: #EB9E1F;
        border: #EB9E1F;
        padding: 0 30px;
        margin: auto;
        position: relative;
left: 50%;
transform: translate(-50%, 0);
    }
}